<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="menu"
     class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
    <!--简单个人信息-->
    <div class="user-info-wrapper sm">
        <div class="profile-wrapper sm">
            <img th:src="@{/static/assets/img/profiles/avatar-favicon.png}" alt=""
                 data-src="/static/assets/img/profiles/avatar-favicon.png"
                 data-src-retina="/static/assets/img/profiles/avatar-favicon.png" width="69" height="69"/>
            <div class="availability-bubble online"></div>
        </div>
        <div class="user-info sm">
            <div class="username">im LuxQi</div>
            <div class="status">Life goes on...</div>
        </div>
    </div>
    <form id="menuForm" method="get"></form>
    <!--分隔栏-->
    <p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i
            class="material-icons">refresh</i></a></span></p>
    <!--菜单栏-->
    <ul>
        <li class="start  open active ">
            <a id="photo" href="javascript:;"><i class="material-icons">invert_colors</i> <span
                    class="title">照片展示</span></a>
        </li>
        <li>
            <a id="commonWork" href="javascript:;"><i class="material-icons">invert_colors</i> <span
                    class="title">常用功能</span></a>
        </li>
        <li>
            <a href="javascript:;"> <i class="material-icons">airplay</i> <span class="title">Canvas</span> <span
                    class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li><a id="canvas-text" href="javascript:;">文字展示</a></li>
                <li><a id="canvas-smallBall" href="javascript:;">小球</a></li>
                <li><a id="canvas-heart" href="javascript:;">心动</a></li>
                <li><a id="canvas-loveTime" href="javascript:;">表白</a></li>
                <li><a id="canvas-game-fiveChess" href="javascript:;">五子棋</a></li>
                <li><a id="canvas-game-tank" href="javascript:;">坦克大战</a></li>
                <li><a id="canvas-game-snake" href="javascript:;">贪吃蛇</a></li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
</body>
</html>